@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Regular.eot');
    src: local('SuisseIntl'), local('SuisseIntl'), url('../fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SuisseIntl-Regular.woff') format('woff'), url('../fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}